*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: rgb(20, 20, 40);
}

.page-container{
    width: 100%;
    height: 100%;
}

#info{
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: rgb(231, 220, 197);
}

.canvas{
    width: 400px;
}
